<!DOCTYPE html>
<html lang='en'>
<%= form_for @orderdetail, :html => { :class => "form-horizontal orderdetail" } do |f| %>
<div class="row">
  <div class="  col-md-12  ">
    <form data-toggle="validator" role="form">
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">Customer Details</div>
            <div class="panel-body">
              <!--Customer Form-->
              <%= f.fields_for :customer do |c| %>
                <div class="col-md-4">
                  <%= c.select :email, options_for_select(@customers.collect{ |a| [a.email, a.email] }),{prompt: "Select Email"},{ id: "abc"}%>
                </div>

                <script>
                $("#abc").change(function(){
                var  x = document.getElementById("abc").value;
                console.log(x)
                //Get Customer
                $.ajax({
                type: 'GET',
                url:  "/customers/customer_show",
                data: {email: escape(x)},
                dataType: 'json',
                success: function(r){
                v = r['variant'];
                console.log(v)
                $("#name").val(r['name']);
                $("#bdate").val(r['bdate']);
                $("#contactno").val(r['contactno']);
                $("#email").val(r['email']);
                }
                });

                //Get Customer's Address
                $.ajax({
                type: 'GET',
                url:  "/customers/address_show",
                data: {email: escape(x)},
                dataType: 'json',
                success: function(r){
                v = r['variant'];
                console.log(v)
                console.log(r.length)
                console.log(r[0]['line1'])
                console.log(r[1]['line2'])
                for (var i = 0; i < r.length; i++)
                {
                  console.log(r[i]['line1'])
                  $("#street").val(r[i]['line1']);
                  $("#area").val(r[i]['line2']);
                  $("#city").val(r[i]['city']);
                  $("#state").val(r[i]['state']);
                  $("#country").val(r[i]['country']);
                  $("#postcode").val(r[i]['postcode']);
                }
                }
                });
                });
                </script>

                <div class="col-md-12 col-md-6">
                <div class="col-md-2">
                  <%= c.label :name, :class => 'control-label col-lg-2' %>
                  <%= c.text_field :name, id: 'name', :class => 'form-control', :required => true %>
                </div>
                <div class="col-md-2">
                  <%= c.label :bdate, :class => 'control-label col-lg-2' %>
                  <%= c.text_field :bdate, id: 'bdate', :class => 'form-control', :required => true %>
                </div>
                <div class="col-md-2">
                  <%= c.label :contactno, :class => 'control-label col-lg-2' %>
                  <%= c.text_field :contactno, id: 'contactno', :class => 'form-control', :required => true%>
                </div>
                <div class="col-md-2">
                  <%= c.label :email, :class => 'control-label col-lg-2' %>
                  <%= c.text_field :email, id: 'email', :class => 'form-control', :required => true %>
                </div>
              </div>

              <div class="col-md-12 col-md-6">
                <%= c.fields_for :address_detail do |addres| %>
                <div class="col-md-2">
                  <%= addres.label :street, :class => 'control-label col-lg-2' %>
                  <%= addres.text_field :line1, id: 'street', :class => 'form-control', :required => true %>
                </div>
                <div class="col-md-2">
                  <%= addres.label :area, :class => 'control-label col-lg-2' %>
                  <%= addres.text_field :line2, id: 'area', :class => 'form-control', :required => true %>
                </div>
                <div class="col-md-2">
                  <%= addres.label :city, :class => 'control-label col-lg-2' %>
                  <%= addres.text_field :city, id: 'city', :class => 'form-control', :required => true%>
                </div>
                <div class="col-md-2">
                  <%= addres.label :state, :class => 'control-label col-lg-2' %>
                  <%= addres.text_field :state, id: 'state', :class => 'form-control', :required => true %>
                </div>
                <div class="col-md-2">
                  <%= addres.label :postcode, :class => 'control-label col-lg-2' %>
                  <%= addres.text_field :postcode, id: 'postcode', :class => 'form-control', :required => true%>
                </div>
                <div class="col-md-2">
                  <%= addres.label :country, :class => 'control-label col-lg-2' %>
                  <%= addres.text_field :country, id: 'country', :class => 'form-control', :required => true %>
                </div>

                </div>
                <% end %>
              <% end %>
            </div>

        </div>

        <!--Address Form-->
        <div class="panel panel-default">
          <div class="panel-heading">Address Details</div>
            <div class="panel-body">
              <%= f.fields_for :address_detail do |addres| %>
                <div class="col-md-4">
                  <%= addres.label :Street, :class => 'control-label col-md-2' %>
                  <%= addres.text_field :line1, :class => 'form-control' %>
                  <span class="help-block with-errors"></span>
                </div>
                <div class="col-md-4">
                  <%= addres.label :Area, :class => 'control-label col-md-2' %>
                  <%= addres.text_field :line2, :class => 'form-control'%>
                  <span class="help-block with-errors"></span>  
                </div>
                <div class="col-md-4 ">    
                  <%= addres.label :city, :class => 'control-label col-md-2' %>
                  <%= addres.text_field :city, :class => 'form-control' %>
                  <span class="help-block with-errors"></span>
                </div>
                <div class="col-md-4">
                  <%= addres.label :state, :class => 'control-label col-md-2' %>
                  <%= addres.text_field :state, :class => 'form-control' %>
                  <span class="help-block with-errors"></span>
                </div>
                <div class="col-md-4">
                  <%= addres.label :country, :class => 'control-label col-md-2' %>
                  <%= addres.text_field :country, :class => 'form-control' %>
                  <span class="help-block with-errors"></span>
                </div>
                <div class="col-md-2 ">
                  <%= addres.label :postcode, :class => 'control-label col-md-2' %>
                  <%= addres.text_field :postcode, :class => 'form-control' %>
                  <span class="help-block with-errors"></span>
                </div>
              <%end%>
            </div>

        </div>

        <!--
        <script>
        $("#input").keyup(function(){
        var  x = document.getElementById("input").value;
        $.ajax({
        type: 'GET',
        url:  "/customers/" + x,
        data: {id: x},
        dataType: 'json',
        success: function(r){
        v = r['variant'];
        console.log(v)
        $("#name").val(r['name']);
        $("#bdate").val(r['bdate'])
        $("#contactno").val(r['contactno']);
        $("#email").val(r['email']);
        }
        });
        });
        </script> -->

        <div class="panel panel-default">
          <div class="panel-heading">Order Details</div>
            <div class="panel-body">
              <div class="col-md-2">
                <%= f.label :orderno, :class => 'control-label col-lg-2'%>
                <%= f.number_field :order_no, :class => 'form-control', :required => true %>
                <span class="help-block with-errors"></span>
              </div>
              <div class="col-md-4 col-md-offset-1">
                <%= f.label :is_express_delivery, :class => 'control-label col-md-6 col-md-offset-3' %>
                <%= f.check_box :is_express_delivery, :class => 'form-control'  %>
                <span class="help-block with-errors"></span>
              </div>
              <div class="col-md-4">
                <%= f.label :is_customer_pickup, :class => 'control-label col-md-6 col-md-offset-3' %>
                <%= f.check_box :is_customer_pickup, :class => 'form-control'  %>
                <span class="help-block with-errors"></span>
              </div>
              <div class="form-group ">
                <%= f.label :delivery_date, :class =>'control-label col-md-6 col-md-pull-4'%>
                  <div class="col-md-4 col-md-pull-4">
                    <%= f.date_select :delivery_date, :class => 'form-control', :required => true  %>
                  </div>
                  <span class="help-block with-errors"></span>
              </div>
              <div class="form-group">
                <%= f.label :delivery_slot, :class => 'control-label col-lg-2' %>
                  <div class="col-md-6">
                    <%=f.select "delivery_slot", options_for_select([ "Morning", "Noon", "Evening", "Night" ]), prompt: "Select", :class => 'form-control', :required => true  %>
                  </div>
                  <span class="help-block with-errors"></span>
              </div>
              <div class="form-group">
                <%= f.label :carrier, :class => 'control-label col-lg-2' %>
                  <div class="col-md-6">
                    <%= f.select "carrier", options_for_select([ "FBA", "PDF", "SIP", "DIP" ]),prompt: "Select", :class => 'form-control', :required => true  %>
                  </div>
                  <span class="help-block with-errors"></span>
              </div>
              <div class="form-group">
                <%= f.label :order_currency, :class => 'control-label col-lg-2' %>
                  <div class="col-md-6">
                    <%=  f.select "order_currency", options_for_select([ "USD", "INR", "EUR", "AFN", "AUD", "JPY"]),prompt: "Select", :class => 'form-control', :required => true  %>
                  </div>
                  <span class="help-block with-errors"></span>
              </div>
              <div class="form-group">
                <%= f.label :order_value, :class => 'control-label col-lg-2' %>
                  <div class="col-md-2">
                    <%= f.number_field :order_value, :class => 'form-control', :required => true  %>
                  </div>
                  <span class="help-block with-errors"></span>
              </div>
              <div class="form-group">
                <%= f.label :payment_gateway, :class => 'control-label col-lg-2' %>
                  <div class="col-md-6">
                    <%=f.select "payment_collection", options_for_select([ "PayU Money  ", " MasterCard Payment Gateway Services ", "NETbilling", "PayDollar", "PayU India", "DebitCard", "CreditCard"]),prompt: "Select", :class => 'form-control', :required => true  %>
                  </div>
                  <span class="help-block with-errors"></span>
              </div>
              <div class="form-group">
                <%= f.label :special_instruction, :class => 'control-label col-lg-2' %>
                  <div class="col-md-6">
                    <%= f.text_area :special_instruction, :class => 'form-control', :required => true ,size: "50x5"  %>
                  </div>
                  <span class="help-block with-errors"></span>
              </div>
              <div class="form-group">
                <%= f.label :invoice, :class => 'control-label col-lg-2' %>
                  <div class="col-md-6">
                    <%= f.file_field :invoice,:required => true  %>
                  </div>
                  <span class="help-block with-errors"></span>
              </div>
            </div>

        </div>
        <!--Product Form-->
        <div class="panel panel-default">
          <div class="panel-heading">Product Details</div>
            <div class="panel-body">
              <%= f.fields_for :line_items do |p| %>
                <%= p.hidden_field :product_id, id: 5 %>
                  <div class="col-md-4">
                    <%= p.select :name, options_for_select(@products.collect{ |a| [a.name, a.name] }),{prompt: "Select Product"},{ id: "xyz"}%>
                  </div>

                  <script>
                  $("#xyz").change(function(){
                  //console.log($('#input1').text('#xyz option:selected').value);
                  var  x = document.getElementById("xyz").value;
                  console.log(x)
                  $.ajax({
                  type: 'GET',
                  url:  "/products/product_show",
                  data: {name: x},
                  dataType: 'json',
                  success: function(r){
                  v = r['variant'];
                  console.log(v)
                  $("#1").val(r['name']);
                  $("#2").val(r['SKU']);
                  $("#3").val(r['company']);
                  $("#4").val(r['retail_price']);
                  $("#5").val(r['id']);
                  var price = $("#quantity").data("price");
                  }
                  });
                  });
                  </script>

                  <div class="col-md-12 col-md-6">
                    <div class="col-md-2">
                      <%= p.label :name, :class => 'control-label col-lg-2' %>
                      <%= p.text_field :name, id: 1, :class => 'form-control', :required => true %>
                    </div>
                    <div class="col-md-2">
                      <%= p.label :SKU, :class => 'control-label col-lg-2' %>
                      <%= p.text_field :SKU, id: 2, :class => 'form-control', :required => true %>
                    </div>
                    <div class="col-md-2">
                      <%= p.label :Description, :class => 'control-label col-lg-2' %>
                      <%= p.text_field :description, id: 3, :class => 'form-control', :required => true %>
                    </div>
                    <div class="col-md-2">
                      <%= p.label :price, :class => 'control-label col-lg-2' %> 
                      <%= p.text_field :price, id: 4, :class => 'control-label ', :required => true %>
                    </div>
                    <div class="col-md-4">
                      <%= p.label :quantity, :class => 'control-label col-lg-4' %>
                    </div>
                    <div class="col-md-4 ">
                      <%= p.text_field :quantity, :class => 'control-label col-lg-4', :required => true %>
                    </div>
                  </div> 
                  
              <% end %> 
            </div>
            
        </div>
      </div>

  </div>
</div>
<div class="row">
  <div class="col-md-offset-1 col-md-2"><input type="submit" value="Create Order" class="btn btn-primary btn-block btn-lg">
  </div>
  <div class=" col-md-2">
    <%= link_to 'Cancel', orderdetails_path, class: "btn btn-danger btn-block btn-lg" %>
  </div>
</div>
<div class="form-group">
  <div class="col-md-offset-2 col-md-2">
    <%#= f.submit nil, :class => 'btn btn-primary btn-block btn-lg' %><br/>
    <%#= link_to t('.cancel', :default => t("helpers.links.cancel")),
                orderdetails_path, :class => 'btn btn-default' %>
  </div>
</div>
<% end %>
</html>
