<p id="notice" style= "color:white;"><%= notice %></p>
<!DOCTYPE html>
<html lang="en">
<head>
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"> 
</head>
<style>
body {background-color: black;
}
</style>
<body>
    <!-- Nav tabs -->
    <ul class="nav nav-tabs">
    <li class="active"><a href="#tab1" data-toggle="tab">Customers</a></li>
    <li><a href="#tab2" data-toggle="tab">Products</a></li>
    <li><a href="#tab3" data-toggle="tab">Orders</a></li>
    </ul>
    
  <!-- Container -->  
<div class="container_i">
<%= link_to 'Products' ,Product%></b>| 
<%= link_to 'Order_Details' ,Orderdetail%></b>|
<%= link_to 'Customer_Details' ,Customer%></b>|
<%= link_to 'Address_Details' ,AddressDetail%>
  <div class="tab-content">
    <div class="tab-pane active" id="tab1">
      <%= render :partial => "customers/customer" %>
    </div>
    <div class="tab-pane " id="tab2">
      <%#= render "products/index" locals: (products: @products) %>
      <%= render :partial => "products/product" %>
    </div>
  </div>
  <div class="tab-pane" id="tab3">
      <%= render :partial => "orderdetails/order" %>
    </div>

</div>

</body>
</html>



  


