<!--Address Form-->

  <div class="panel-heading">Address Details</div>
    <div class="panel-body">
  <div class="col-md-4">
    <%= f.label :address1, :class => 'control-label col-md-2' %>
    <%= f.text_field :line1, :class => 'form-control', :required => true %>
    <span class="help-block with-errors"></span>
  </div>
  <div class="col-md-4 ">
    <%= f.label :address2, :class => 'control-label col-md-2' %>
    <%= f.text_field :line2, :class => 'form-control', :required => true %>
    <span class="help-block with-errors"></span>  
  </div>
  <div class="col-md-4 ">    
    <%= f.label :city, :class => 'control-label col-md-2' %>
    <%= f.text_field :city, :class => 'form-control', :required => true %>
    <span class="help-block with-errors"></span>
  </div>
  <div class="col-md-4">
    <%= f.label :state, :class => 'control-label col-md-2' %>
    <%= f.text_field :state, :class => 'form-control', :required => true %>
    <span class="help-block with-errors"></span>
  </div>
  <div class="col-md-4">
    <%= f.label :country, :class => 'control-label col-md-2' %>
    <%= f.text_field :country, :class => 'form-control', :required => true %>
    <span class="help-block with-errors"></span>
  </div>
  <div class="col-md-2 ">
    <%= f.label :postcode, :class => 'control-label col-md-2' %>
    <%= f.text_field :postcode, :class => 'form-control', :required => true %>
    <span class="help-block with-errors"></span>
  </div>
</div>
