<!DOCTYPE html>
<html lang='en'>
<%= form_for @customer, :html => { :class => "form-horizontal customer" } do |f| %>
<div class="row">
  <div class="  col-md-12  ">
    <form data-toggle="validator" role="form">
      <div class="row">
        <div class="panel panel-default">
          <div class="panel-heading">Customer Details</div>
            <div class="panel-body">
              <div class="col-md-12">
              <div class="col-md-2">
                <%= f.label :firstName, :class => 'control-label col-md-2' %>
                <%= f.text_field :name, class: 'form-control input-md', :required => true %>
                <span class="help-block with-errors"></span>
              </div>
              <div class="col-md-2">
                <%= f.label :lastName, :class => 'control-label col-md-2' %>
                <%= f.text_field :lname, class: 'form-control input-md', :required => true %>
                <span class="help-block with-errors"></span>
              </div>
              <div class="col-md-4">
                <%= f.label :Birthdate, :class => 'control-label col-md-2' %><br/></br>
                <div class="span-6" "offset-5">
                <%= f.date_select :bdate, class: 'form-control input-md col-md-span-4', :required => true %>
                <span class="help-block with-errors"></span>
              </div>
            </div>
            <div class="col-md-2 col-md-pull-1 ">
              <%= f.label :contactNo, :class => 'control-label col-md-2' %>
              <%= f.text_field :contactno, :class => 'form-control', :required => true %>
              <span class="help-block with-errors"></span>
            </div>
            <div class="col-md-2 col-md-pull-1  ">
              <%= f.label :email, :class => 'control-label col-md-2' %>
              <%= f.text_field :email, :class => 'form-control', :required => true %>
              <span class="help-block with-errors"></span>
            </div>
          </div>


            <!--Address Form-->
            <%= f.fields_for :address_details do |addres| %>
              <%= render 'address_detail_fields', :f => addres %>
            <%end%>

            <%= link_to_add_fields 'Add address', f,:address_details %><br>

          </div> 
        </div>
      </div>
    
  </div>
  <div class="row">
  <div class="col-md-offset-1 col-md-2">
    <%= f.submit nil, :class => 'btn btn-primary btn-block btn-lg'%>
  </div>
  <div class=" col-md-2">
    <%= link_to 'Cancel', customers_path, class: "btn btn-danger btn-block btn-lg" %>
  </div>
</div>
<div class="row">
  <div class="col-md-offset-1 col-md-2">
    <%#= f.submit nil, :class => 'btn btn-primary btn-block btn-lg' %>
  </div>
  <div class=" col-md-2">
    <%#= link_to t('.cancel', :default => t("helpers.links.cancel")),customers_path, :class => 'btn btn-danger btn-block btn-lg' %>
  </div>
</div>
<% end %>
</html>