<!DOCTYPE html>
<html>
<head><%= favicon_link_tag 'shop2.ico' %>
  <title>Shop2016</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<style>
body {background-color: lightgrey ;}
li {color: white;}
</style>
<div id="snow">
<body >
<div id="hdr">
   <div class="container-fluid">
      <ul class="nav navbar-nav pull-right">
        <% if user_signed_in? %>
        <b>Signed in as <%= current_user.email %>. Not you?</b> 
        <br/>
            <ul>
              <li><%= link_to 'Profile', edit_user_registration_path ,{:style=>'color:white;'}%></li>
              <li><%= link_to 'Log out', destroy_user_session_path, method: :delete  %></li>
              <li><%= link_to 'Home', root_path,{:style=>'color:white;'}%></li>
            </ul>
         
        <% else %>
        <style>
        li {color: white;}
        </style>
          <nav class="navbar navbar-default navbar-fixed-top">
            <ul class="nav navbar-nav  navbar-left">
              <li class="active"><%= link_to "Home", root_path %></li>
              <li><%= link_to 'Customers', customers_path,{:style=>'color:white;'} %></li>
              <li><%= link_to 'Addresses' , address_details_path,{:style=>'color:white;'} %></li>
              <li><%= link_to 'Products' , products_path,{:style=>'color:white;'} %></li>   
              <li><%= link_to 'Orders' , orderdetails_path,{:style=>'color:white;'} %></li> 
            </ul>
          </nav>  
        <% end %>
      </div>
      </ul>
  </div>
</nav>
  <div class="container">
<%= yield %>
</div><!--container-->
</div>
</div>
</body>
</div>
</div>
</html>

